.container {
	width: 100%;
	padding: 0;
	text-align: center;

	&__image {
		width: 100vw;

		&--image {
			width: 50%;
			margin: 0 auto;
			text-align: center;
			max-height: auto;

			@include respond(milleduecento) {
				width: 80%;
			}

			@include respond(novecento) {
				width: 100%;
			}
		}
	}

	&__title {
		font-family: 'Roboto', serif;
		font-size: 3rem;
		padding: 2rem 0;
		color: $title;
		padding: 0 10%;
		margin: 1rem 0;

		@include respond(seicento) {
			font-size: 2.5rem;
		}
	}

	&__subtitle {
		text-align: left;
		padding: 0 10%;
		margin: 1rem 0;
		font-family: 'Roboto', serif;
		font-size: 2.5rem;
		color: $title;
		text-transform: uppercase;
	}

	&__paragraph,
	&__btn {
		padding: 0 10%;
		margin: 1rem 0;
		font-size: 2rem;
		text-align: left;
	}

	&__btn {
		margin: 5rem auto;
		text-align: center;
		width: max-content;

		&--btn {
			color: $white;
			text-align: center;
			text-decoration: none;
			background-color: $color-primary;
			padding: 1.5rem 2rem;
			border-radius: 10px;

			&:hover {
				box-shadow: 0 1rem 2rem rgba($black, .2);
				transition: box-shadow .2s;
			}
		}
	}

	&__btn:hover {
		transform: translateY(-2px);
		transition: all .2s;
	}
}
